@import url(../../../stylesheets/application.css);
body, #wrapper { background-color: #FFEEEE; }

#header {
  margin: -30px 10px 0px 10px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 0 3px black;
  padding-top: 40px;
  background-color: #507AAA;
  z-index: 1;
}
#top-menu {
  margin: 0px 10px 0px 10px;
  max-height: 30px;
  min-height: 20px;
  z-index: 2;
  background-color: #3E5B76;
}

#main { background: #FFEEEE; margin: 8px 10px 0px 10px; }

#content, #main.nosidebar #content {
  background: #fff; 
  /*border-right: 1px solid #bbb; 
  border-bottom: 1px solid #bbb; 
  border-left: 1px solid #d7d7d7; 
  border-top: 1px solid #d7d7d7;*/
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 3px;
  margin: 7px;
}
#sidebar {
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  box-shadow: 0 0 3px;
  margin: 7px;
}

#quick-search {
  background-color: #3E5B76;
  padding: 1%;
  border-radius: 5px
}



.mypage-box {
  background: #FFFFFF;
  box-shadow: 0 0 2px black;
  transition: background 200ms;
  border-radius: 7px;
}

.mypage-box:hover {
  background: #EAF5FF;
}

.ui-sortable-helper {
  animation: rolling infinite linear 1s;
  background: #EAF5FF;
}

@keyframes rolling {
  0%{
    transform: rotate(0deg);
  }
  25%{
transform: rotate(0.5deg);
  }
  50%{
    transform: rotate(0deg);
  }
  75%{
    transform: rotate(-0.5deg);
  }
  100%{
    transform: rotate(0deg);
  }
}



#top-menu > ul > li > a {
  transition: all 1s;
}

#top-menu > ul > li > a:hover {
  font-size: 120%;
}

#block-form {
  transition: all 1s;
  padding: 10px;
  opacity: 0.75;
  border-radius: 5px;
}

#block-form:hover {
  opacity: 1;
  background: #eaeaFF;
  box-shadow: 0 0 3px;
}

fieldset, fieldset.collapsible {
  border-radius: 5px;
  border-width: 1px 1px 1px 1px;
  border-color: #888888;
  height: auto;
  /*animation-duration: 2000ms;
  animation-name: collapse0;*/
}

#main-menu > ul > li > a{
  background: #759FCF;
  transition: all 500ms;
}

#main-menu > ul > li > a.selected, #main-menu > ul > li >  a.selected:hover{
  background: #F8F8F8;
}

#main-menu > ul > li > a:hover{
  background: #507AAA;
  text-decoration: unset;
}

fieldset.collapsed {
  border-radius: 0px;
  height: auto;
  border-width: 1px 0 0 0;
}


table.list {
  border-radius: 7px;
  border-width: 2px;
  border-color: #507AAA;
}


table.list thead th{
  border-style: solid;
  border-width: 2px;
  border-color: #507AAA;
  background: #507AAA;
  border-top-color: #507AAA;
}

table.list thead th a, table thead th {
  color: #FEFEFE;
}

table.list tbody td, table.list tbody tr {
  border-style: solid;
  border-width: 1px;
  border-color: #E8E8E8    
}

table.list tbody tr.status-1 td.status {
  background-color: #CCFFCC;
}

#context-menu {
  box-shadow: 0 0 3px black;
}


div.issue {
  background-color: #EAF5FF;
}

/*-- Not used
.rolling-smth {
  animation-name: rolling;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: linear;
}


@keyframes collapse0 {
  from {
    height: 0px;
  }

  to {
    height:  auto;
 }
}
@keyframes collapse1 {
  from {
    height: 378px;
  }

  to {
    height: 0px;
 }
}
