@import url(../../../stylesheets/application.css);

/***************/
/*Common styles*/
body, #wrapper { background-color: #FFEEEE; }

#header {
  margin: -30px 10px 0px 10px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 0 3px gray;
  padding-top: 40px;
  background-color: #507AAA;
  z-index: 1;
}
#top-menu {
  margin: 0px 10px 0px 10px;
  max-height: 30px;
  min-height: 20px;
  z-index: 2;
  background-color: #3E5B76;
}

#top-menu > ul > li > a {
  transition: all 1s;
}

#top-menu > ul > li > a:hover {
  font-size: 120%;
}

#main {
  background-color: #FFEEEE;
  margin: 8px 10px 0px 10px;
}

#content, #main.nosidebar #content {
  background-color: #fff; 
  /*border-right: 1px solid #bbb; 
  border-bottom: 1px solid #bbb; 
  border-left: 1px solid #d7d7d7; 
  border-top: 1px solid #d7d7d7;*/
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 3px gray;
  margin: 7px;
}
#sidebar {
  border-radius: 10px 10px 10px 10px;
  background-color: #fff;
  box-shadow: 0 0 3px gray;
  margin: 7px;
}

#quick-search {
  background-color: #3E5B76;
  padding: 1%;
  border-radius: 5px
}

.box,
#content #projects-index .projects li.root {
  background-color: #FEFEFE;
  border-color: #DDD;
  border-radius: 10px;
}

/******************/
/* My page styles */

.mypage-box {
  background-color: #FEFEFE;
  box-shadow: 0 0 2px gray;
  transition: background 100ms;
  border-radius: 7px;
}

.mypage-box:hover {
  background-color: #EAF5FF;
}

#block-form {
  transition: all 1s;
  padding: 10px;
  opacity: 0.75;
  border-radius: 5px;
}

#block-form:hover {
  opacity: 1;
  background-color: #EAEAFF;
  box-shadow: 0 0 3px gray;
}

.ui-sortable-helper {
  animation: rolling infinite linear 1s;
  background-color: #EAF5FF;
}

@keyframes rolling {
  0%{
    transform: rotate(0deg);
  }
  25%{
transform: rotate(0.1deg);
  }
  50%{
    transform: rotate(0deg);
  }
  75%{
    transform: rotate(-0.1deg);
  }
  100%{
    transform: rotate(0deg);
  }
}


/*Context menu styles*/
#context-menu {
  box-shadow: 0 0 3px gray;
}


/*Issue styles*/
div.issue {
  background-color: #EAF5FF;
}

/*Empty progress bar color*/
table.progress td.todo {
  background-color: #fff;
}

/***********************/
/* Project page styles */


/*Prevent braking the list items into parts*/
ul.projects li.root {
  display:inline-block;
}

fieldset, fieldset.collapsible {
  border-radius: 5px;
  border-width: 1px 1px 1px 1px;
  border-color: #888888;
  height: auto;
}

#filters div.add-filter {
  width: 25em;
}

#main-menu > ul > li > a{
  background-color: #759FCF;
  transition: all 500ms;
}

#main-menu > ul > li > a.selected, #main-menu > ul > li >  a.selected:hover{
  background-color: #F8F8F8;
}

#main-menu > ul > li > a:hover{
  background-color: #507AAA;
  text-decoration: unset;
}

fieldset.collapsed {
  border-radius: 0px;
  height: auto;
  border-width: 1px 0 0 0;
}

/*****************/
/* Table styling */

table.list {
  border-radius: 7px;
  border-width: 2px;
  border-color: #507AAA;
}


table.list thead th{
  border-style: solid;
  border-width: 2px;
  border-color: #507AAA;
  background-color: #507AAA;
  border-top-color: #507AAA;
}

table.list thead th a, table thead th {
  color: #FEFEFE;
}

table.list tbody td, table.list tbody tr {
  border-style: solid;
  border-width: 1px;
  border-color: #E8E8E8
}


table.list tbody td.status{
  width: 10em;
  height: 2em;
}

/* Issue status coloring
1 new
2 work in progress
3 resolved
4 need feedback
5 closed
6 rejected
*/
table.list tbody tr.status-1 td.status {
  background-color: #EAEAFF;
}

table.list tbody tr.status-2 td.status {
  background-color: #FFFFCC;
}

table.list tbody tr.status-3 td.status {
  background-color: #CCFFCC;
}

table.list tbody tr.status-4 td.status {
  background-color: #FFCCCC;
}

table.list tbody tr.status-5 td.status {
  background-color: #FFAAFF;
}

table.list tbody tr.status-6 td.status {
  background-color: #808080;
}


table tbody tr.context-menu-selection td {
  border-color: #507aaa;
  /*background-color: #759fcf;*/
}
table tbody tr.context-menu-selection td.status {
  color: #333;
}

/********************/
/* Calendar styling */
#block-calendar {
  overflow-x: auto;
  
}

#content table.cal {
  overflow: auto;
}

#content #block-calendar table.cal {
  display:  block;
  max-height: 50em;
  min-width: 84em;
  overflow-y: auto;
  overflow-x: hidden;
}

table.cal thead{
  position: sticky;
  top: 0;
  z-index: 2;
}

table.cal{
  display:  block;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 7px;
  border-width: 2px;
  border-color: #507AAA;
  table-layout: fixed;
}

#block-calendar table.cal{
  max-height: 56em;
}

table.cal div.issue{
  z-index: 0;
}

#block-calendar table.cal div.issue{
  min-width: 12em;
}


table.cal div.issue:hover{
  z-index: 2;
}
table.cal div.issue span.tip{
  box-shadow: 0 0 3px gray;
}


table.cal thead th{
  border-style: solid;
  border-width: 2px;
  border-color: #507AAA;
  background-color: #507AAA;
  border-top-color: #507AAA;
}

table.cal thead th a, table.cal thead th {
  color: #FEFEFE;
}

table.cal tbody td, table.cal tbody tr {
  border-style: solid;
  border-width: 1px;
  border-color: #E8E8E8;
  z-index: 0;
  width: max-content;
  min-width: 12em;
  table-layout: fixed
}

table.cal tbody tr td.week-number,
table.cal thead th.week-number  {
  min-width: 2em;
  max-width: 2em;
  width: unset;
}

/* Calendar issue coloring by status */

table.cal td div.issue.status-1 {
  background-color: #EAEAFF;
}

table.cal td div.issue.status-2 {
  background-color: #FFFFCC;
}

table.cal td div.issue.status-3 {
  background-color: #CCFFCC;
}

table.cal td div.issue.status-4 {
  background-color: #FFCCCC;
}

table.cal td div.issue.status-5 {
  background-color: #FFCCFF;
}

table.cal td div.issue.status-6 {
  background-color: #808080;
}

/* Buttons & menus */

#content .contextual span.drdn,
#content .contextual .icon,
#query_form p.buttons .icon {
  border-radius: 10px;
  padding: 5px;
  background-color: #f6f7f8;
  box-shadow: 0 0 3px gray;
  transition: all 100ms;
  background-position-x: 4px;
}

#content .contextual span.drdn:hover,
#content .contextual .icon:hover,
#query_form p.buttons .icon:hover {
  background-color: #EAEAFF;
}

#content .contextual .icon,
#query_form p.buttons .icon {
  padding-left: 25px;
}

#content .contextual span.drdn.expanded{
  border-radius: 10px;
  background-color: #EAEAFF;
  box-shadow: 0 0 1px;
}

#content .contextual span.drdn .drdn-content.drdn-content,
#content .contextual span.drdn .drdn-content.drdn-content .drdn-items,
#content .contextual span.drdn .drdn-content.drdn-content .drdn-items .icon{
  border-radius: 10px;
  height: 0;
  z-index: -1;
  transition: all 100ms;
  display: block;
  opacity: 0;
  
}
#content .contextual span.drdn.expanded .drdn-content.drdn-content,
#content .contextual span.drdn.expanded .drdn-content.drdn-content .drdn-items{
  height: unset;
  top: 3em;
  box-shadow: 0 0 3px gray;
  opacity: 1;
  z-index: 2;
}
#content .contextual span.drdn.expanded .drdn-content.drdn-content .drdn-items .icon{
  height: unset;
  opacity: 1;
  z-index: 2;
  border-radius: 5px;
  background-color: #f6f7f8;
  box-shadow: unset;
}

#issue-form input[type="submit"]{
  margin: 10px;
  box-shadow: 0 0 3px gray;
  background-color: #f6f7f8;
  transition: 10ms;
}

#issue-form input[type="submit"]:hover{
  background-color: #EAEAFF;
}
