@import url(../../../stylesheets/application.css);

/***************/
/*Common styles*/
body, #wrapper { background-color: #FFEEEE; }

#header {
  margin: -30px 10px 0px 10px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 0 3px black;
  padding-top: 40px;
  background-color: #507AAA;
  z-index: 1;
}
#top-menu {
  margin: 0px 10px 0px 10px;
  max-height: 30px;
  min-height: 20px;
  z-index: 2;
  background-color: #3E5B76;
}

#top-menu > ul > li > a {
  transition: all 1s;
}

#top-menu > ul > li > a:hover {
  font-size: 120%;
}

#main {
  background: #FFEEEE;
  margin: 8px 10px 0px 10px;
}

#content, #main.nosidebar #content {
  background: #fff; 
  /*border-right: 1px solid #bbb; 
  border-bottom: 1px solid #bbb; 
  border-left: 1px solid #d7d7d7; 
  border-top: 1px solid #d7d7d7;*/
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 3px;
  margin: 7px;
}
#sidebar {
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  box-shadow: 0 0 3px;
  margin: 7px;
}

#quick-search {
  background-color: #3E5B76;
  padding: 1%;
  border-radius: 5px
}


/******************/
/* My page styles */

.mypage-box {
  background: #FFFFFF;
  box-shadow: 0 0 2px black;
  transition: background 200ms;
  border-radius: 7px;
}

.mypage-box:hover {
  background: #EAF5FF;
}

#block-form {
  transition: all 1s;
  padding: 10px;
  opacity: 0.75;
  border-radius: 5px;
}

#block-form:hover {
  opacity: 1;
  background: #EAEAFF;
  box-shadow: 0 0 3px;
}

.ui-sortable-helper {
  animation: rolling infinite linear 1s;
  background: #EAF5FF;
}

@keyframes rolling {
  0%{
    transform: rotate(0deg);
  }
  25%{
transform: rotate(0.1deg);
  }
  50%{
    transform: rotate(0deg);
  }
  75%{
    transform: rotate(-0.1deg);
  }
  100%{
    transform: rotate(0deg);
  }
}


/*Context menu styles*/
#context-menu {
  box-shadow: 0 0 3px black;
}


/*Issue styles*/
div.issue {
  background-color: #EAF5FF;
}

/*Empty progress bar color*/
table.progress td.todo {
  background-color: #fff;
}

/***********************/
/* Project page styles */

/*Prevent braking the list items into parts*/
ul.projects li.root {
  display:inline-block;
}

fieldset, fieldset.collapsible {
  border-radius: 5px;
  border-width: 1px 1px 1px 1px;
  border-color: #888888;
  height: auto;
}

#main-menu > ul > li > a{
  background: #759FCF;
  transition: all 500ms;
}

#main-menu > ul > li > a.selected, #main-menu > ul > li >  a.selected:hover{
  background: #F8F8F8;
}

#main-menu > ul > li > a:hover{
  background: #507AAA;
  text-decoration: unset;
}

fieldset.collapsed {
  border-radius: 0px;
  height: auto;
  border-width: 1px 0 0 0;
}


/*****************/
/* Table styling */

table.list {
  border-radius: 7px;
  border-width: 2px;
  border-color: #507AAA;
}


table.list thead th{
  border-style: solid;
  border-width: 2px;
  border-color: #507AAA;
  background: #507AAA;
  border-top-color: #507AAA;
}

table.list thead th a, table thead th {
  color: #FEFEFE;
}

table.list tbody td, table.list tbody tr {
  border-style: solid;
  border-width: 1px;
  border-color: #E8E8E8    
}


table.list tbody td.status{
  border-radius: 0.5em;
  width: 10em;
  height: 2em;
  border: inherit;
}

/* Issue status coloring
1 new
2 work in progress
3 resolved
4 need feedback
5 closed
6 rejected
*/
table.list tbody tr.status-1 td.status {
  background-color: #EAEAFF;
}

table.list tbody tr.status-2 td.status {
  background-color: #FFFFCC;
}

table.list tbody tr.status-3 td.status {
  background-color: #CCFFCC;
}

table.list tbody tr.status-4 td.status {
  background-color: #FFCCCC;
}

table.list tbody tr.status-5 td.status {
  background-color: #FFAAFF;
}

table.list tbody tr.status-6 td.status {
  background-color: #808080;
}


/********************/
/* Calendar styling */



#block-calendar table{
  display:  block;
  max-height: 50em;
  min-width: 84em;
  overflow-y: auto;
  overflow-x: hidden;
}

#block-calendar table thead{
  position: sticky;
  top: 0;
  z-index: 2;
}

#block-calendar table div.issue{
  max-width: 12em;
  z-index: 0;
}
#block-calendar table div.issue:hover{
  z-index: 2;
}
#block-calendar table div.issue span.tip{
  box-shadow: 0 0 3px;
}

table.cal {
  border-radius: 7px;
  border-width: 2px;
  border-color: #507AAA;
}


table.cal thead th{
  border-style: solid;
  border-width: 2px;
  border-color: #507AAA;
  background: #507AAA;
  border-top-color: #507AAA;
}

table.cal thead th a, table.cal thead th {
  color: #FEFEFE;
}

table.cal tbody td, table.cal tbody tr {
  border-style: solid;
  border-width: 1px;
  border-color: #E8E8E8;
  z-index: 0;
}

/* Calendar issue coloring by status */

table.cal td div.issue.status-1 {
  background-color: #EAEAFF;
}

table.cal td div.issue.status-2 {
  background-color: #FFFFCC;
}

table.cal td div.issue.status-3 {
  background-color: #CCFFCC;
}

table.cal td div.issue.status-4 {
  background-color: #FFCCCC;
}

table.cal td div.issue.status-5 {
  background-color: #FFCCFF;
}

table.cal td div.issue.status-6 {
  background-color: #808080;
}

